
<!--
    ==========================================================================
    |                                                                        |
    |                     PRODIGY ENGINEERING LLC                            |
    |                       Software Engineers                               |
    |     Full-Stack WebApp Development (HTML, CSS, Javascript, Python)      |
    |          Mobile Apps and Desktop Software Development                  |
    |  Scientific Computing, Modeling and Simulation  (C/C++, Python/Julia)  |
    |                                                                        |
    ==========================================================================
 
-->

<p id="copyright">Copyright &copy; 2018 <a href="#">Citizens for Change T&T</a>. All Rights Reserved.</p>
 