{% block content %}

    <form class="form-inline" id="login-form">
        <label for="Username"><b>Username/Email:</b></label>
        <input type="email" class="form-control mb-2 mr-sm-2" placeholder="john.doe@email.org" name="Username" id="login_username">
        <label for="Password"><b>Password:</b></label>
        <input type="password" class="form-control mb-2 mr-sm-2" placeholder="" name="Password" id="login_password">
        <button type="submit" class="btn btn-lg btn-secondary">Login</button>
    </form>

{% endblock %}