{% block content %}
<header class="masthead mb-auto">
        <div class="inner">
            <!-- <h3 class="masthead-brand">Citizens for Change</h3> -->
            <nav class="navbar nav-masthead justify-content-center">
                <a class="nav-link navbar-brand active" href="#">Citizens for Change</a>
                <a class="nav-link" href="#">About</a>
                <a class="nav-link" href="#">News</a>
                <a class="nav-link" href="#">Community</a>
                <a class="nav-link" href="#">Polls</a>
                <a class="nav-link" href="#">Chat</a>
                <a class="nav-link" href="#">Volunteer</a>
                <a class="nav-link" href="#">Merchandise</a>
                <a class="nav-link" href="#">Donate</a>
                <a class="nav-link" href="#">Contact</a>
                <a class="nav-link" href="#">Register</a>
                <a class="nav-link" href="#">Sign In</a>
            </nav>
        </div>
    </header>
{% endblock %}