<!DOCTYPE html>
<html lang="en">
<HEAD>
    <!-- Additional header files to help pass header links needed for other pages -->
    {% block header %}
        <title>Citizens for Change</title>
    {% endblock %}

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Political Action Committee in Trinidad & Tobago">
    <meta name="author" content="Citizens for a Better Trinbago">
    <link rel="icon" href="../../../../favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <SCRIPT src="{% static 'scripts/nav_script.js' %}"></SCRIPT>
</HEAD>


<BODY style='background: url("{% static 'media/images/2ibis.jpg' %}") no-repeat center' class="text-center">
    <div   class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <!-- Section Reserved for Navbar Snippet -->
        {% block nav_bar %}
           
        {% endblock %}

        <!-- the webpage: the main content -->
        {% block content %}
            
        {% endblock %}

        <!-- additional footer information -->
        {% block footer %}

        {% endblock %}
    </div>
</BODY>
</html> 