{% extends "homepage/header.html" %}


{% block nav_bar %}
    {% include "homepage/includes/navbarsnippet.html" %}
{% endblock %}


{% block content %} 
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Save Our Nation!</h1>
        <p class="lead">The absence of competent leadership is destroying our nation!</p>
        <p class="lead">Please join our mailing list.</p>
        {% include "homepage/includes/mailinglistform.html" %}
    </main>
{% endblock %}



{% block footer %}
    {% include "homepage/includes/footersnippet.html" %}
    {% include "homepage/includes/copyright.html" %}
    {% include "homepage/includes/jscodesnippet.html" %}
{% endblock %}