{% extends "homepage/header.html" %}


{% block nav_bar %}
    {% include "homepage/includes/navbarsnippet.html" %}
{% endblock %}


{% block content %} 
    <main role="main" class="inner cover">
        <h1 class="cover-heading" id="heading">LOG IN:</h1>
        <p class="lead" id="line1">If you are not a member, please register above. </p>
        <p class="lead" id="line2">Please log in now.</p>
        {% include "homepage/includes/loginsnippet.html" %}
    </main>
{% endblock %}



{% block footer %}
    {% include "homepage/includes/footersnippet.html" %}
    {% include "homepage/includes/copyright.html" %}
    {% include "homepage/includes/jscodesnippet.html" %}
{% endblock %}