{% extends "homepage/header.html" %}

{% block header %}
    <title>REGISTER HERE</title>
{% endblock %}  

{% block nav_bar %}
    {% include "homepage/includes/navbarsnippet.html" %}
{% endblock %}

{% block content %}
<main role="main" class="inner cover">
    <form class="form-inline" id="registration-form">
        <label for="Email"><b>Email:</b></label>
        <input type="email" class="form-control mb-2 mr-sm-2" placeholder="john.doe@email.org" name="Email" id="email">
        <label for="Username"><b>Username:</b></label>
        <input type="username" class="form-control mb-2 mr-sm-2" placeholder="jdoe123" name="Username" id="username">
        <label for="Password"><b>Password:</b></label>
        <input type="password" class="form-control mb-2 mr-sm-2" placeholder="" name="Password" id="login_password">
        <label for="Password"><b>Password:</b></label>
        <input type="password" class="form-control mb-2 mr-sm-2" placeholder="" name="Password" id="login_password">
        <button type="submit" class="btn btn-lg btn-secondary">Register</button>
    </form>
</main>

{% endblock %}




{% block footer %}
    {% include "homepage/includes/footersnippet.html" %}
    {% include "homepage/includes/copyright.html" %}
    {% include "homepage/includes/jscodesnippet.html" %}
{% endblock %}